body{
  background: #111;
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-size: 28px;
  position: fixed;
  width: 100%;
  z-index: 4;
}

li {
  float: left;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 22px 22px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: gray;
  font-size: 25px;
}

.home{
  height: 450px;
  padding-top: 20%;
  padding-bottom: 0%;
  color: whitesmoke;
  text-align: center;
  font-size: 55px;
  z-index: 1;
}
#undertext{
  font-size: 22px;
  text-align: center;
}
.about{
  border-top: solid black 2px;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  background-color: whitesmoke;
  display: table;
}
#abouttitle{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 40px;
}
img{
  border-radius: 5%;
}
#aboutleft{
  height: 300px;
  width: 300px;;
  padding-left: 10%;
}
#aboutright{
  display: table-cell;
  background-color: whitesmoke;
  font-size: 20px;
  vertical-align: middle;
  padding-left: 10%;
  padding-right: 20%;
}
hr {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.projects{
  border-top: solid black 2px;
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
  background-color:white;

}
.projectstitle{
  font-size: 35px;
}
.slideshow{
  padding-top:1%;
  max-height: inherit;
  box-sizing:border-box
}
.slidebuttons{
  padding-bottom:5%;
  padding-top:5%;

}
.w3-button{
  padding-top:2%;
  padding-bottom:2%;
  padding-left:5%;
  padding-right:5%;
}

  

.contact{
  border-top: solid black 2px;
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
  background-color:white;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid black; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
 
}
footer{
  background: #000;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom:5%;
  font-family: cursive;
  font-size: 16px;
  z-index: -;
}


@import "susy";
@import "compass/reset";

.stars, .twinkling, .clouds {
position:absolute;
display:block;
top:0; bottom:0;
left:0; right:0;
width:100%; height:100%;
padding: 0px;
}

.stars {
z-index: -3;
background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
padding: 0px;
}

.twinkling{
z-index: -2;
background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
animation: move-twink-back 200s linear infinite;
padding: 0px;
}

.clouds{
z-index: -1;
background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
animation: move-clouds-back 200s linear infinite;
padding: 0px;
}

@keyframes move-twink-back {
from {background-position:0 0;}
to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
from {background-position:0 0;}
to {background-position:10000px 0;}
}

#ubercontainer {
  border: 1px solid #eaeaea;
  border-radius: 2px;
  background-color: #ffefc6;
  width: 500px;
  margin: 20px auto;
  padding: 30px 0;
}
#container {
  position: relative;
  text-align: center;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #4a6b82;
  height: 78px;
}
.measurable {
  position: absolute;
  visibility: hidden;
}

.static.first, .static.second {
  transition: transform 1s ease;
}