body{
    background-color: black;
    padding: 0px;
    margin: 0px;
    font-family: optima;
}


#navbar{
    top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
ul {
    list-style-type: none;
    min-width: 100%;
    margin: 0px;
    padding: 25px 300px 25px 0px;
    text-align: right;
    position: fixed;
    overflow: hidden;
    z-index: 999999;
    background-color: #c0c0c0; ;
    opacity: 1.0;
    border-bottom: solid black 1px;

}
#container {
    position: relative;
    width: 50%;
    padding-bottom: 0%;
 }
 

li {
    background-color: white;
    opacity: 1.0;
    display: inline;
    padding: 7px;
    margin-right:10px;
    border-radius: 4px;
    max-width: 100%;
    min-width: 100%;
    text-decoration: none;
   border: solid black 1px;
}
li a{
    padding: 5px;
    text-decoration: none;
    opacity: 1.0;
    color: black;
    font-weight: 500;
 
}
li a:hover{
    color: blue;
}


.topbox{
    text-align: center;
    background-image: url(./backgroundimage.jpg);
    padding-top: 12%; 
    border-bottom: solid black 1px;
    height: 600px;
    min-width: 100%;
}
.containertop{
    display: inline-flex;
    width: 100%;
    border-radius: 14px;

}
.left{
    width: 100%;
    padding-top:40px;
    padding-bottom: 80px;
    z-index: 999;
    color: black;
 
}
.topimage{
    max-height: 80%;
    max-width: 70%;
    border-radius: 14px;
    box-shadow: 10px 18px 10px rgba(0, 0, 0, 0.9);
    
}
.right{
    width: 100%;
    padding-top:120px;
    padding-bottom:20px;
    padding-right: 50px;
    font-size: 20px;
    border-radius: 15px;
    z-index: 999;
    font-weight: 500;
    color: white;
   
}
.title{
    font-size: 55px;
    font-weight: 600;
    padding-bottom: 30px ;
 
}


.bottombox{
    text-align: center;
    background-color: lightgray;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;

}
.containerone{
    align-items: center;
    width: 90%;
    border: solid black 1px;
    border-radius: 8px;
    background-color: white;

    
}
.containertwo{
    width: 90%;
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
}.containerthree{
    width: 80%;
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
}
.one{
    padding: 40px 100px 0px 100px;
    font-size: 22px;
    

}
.two{
    padding: 20px 100px 40px 0px;
    width: 100%;
    font-size: 20px;

}
.paddingwrapper{
    padding-left: 80px;
    padding-right: 80px;
}
.paddingwrapper2{
    padding-left: 80px;
    padding-right: 80px;
    text-align: left;
}

iframe{
    max-height: 500px;
    width: 80%; 
    padding-top: 30px;
}


footer{
    padding-top: 10px;
    height: 200px;
    background-color: #c0c0c0;
 
    text-align: center;
}

hr{
    align-items:center;
    width: 100px;
}